# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
gradlew
gradlew.bat

# C++
build*/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
*.code-workspace

# Minecraft
env/
*.jar
run/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~

# Compiled
*.class
*.dll
*.exe
*.so
*.dylib
*/target/

# Other
/.context/
**/crash-reports/
/mods/
**/reports/
archived/
__pycache__/
**/results/
**/test_baked/
/output/
cmake/